doctype html
html(lang="es")


	head
		title mensajerortc

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		

	body
		h1
			a Prueba Mensajero RTC
		div

			p Esta app es creada para probar la coneccion a mongodb

			img(src="img/coppel.png")

